{:company/legal-name "Carnival Corporation Ltd."
 :company/lei "F1OF2ZSX47CR0BCWA982"
 :company/jurisdiction "BM"
 :company/website "https://www.carnival.com"
 :company/ticker "CCL (NYSE)"
 :itonami.blueprint/maturity :implemented}
